# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Egon Moreau\OneDrive - Hogeschool VIVES\Seoul National Uni of Science and Tech\[5] Multimedia Systems\R-tree\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
